<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Josh D Hoeg </title>
  {% load static %}
  <link href="{% static 'Main/css/style.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'Main/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <link rel="shortcut icon" href="{%  static 'Main/images/favicon.ico' %}">

  <style>
  ::-webkit-scrollbar{height: 10px;width: 12px;margin: 1;}
  ::-webkit-scrollbar-track{background: #fff;}
  ::-webkit-scrollbar-thumb{background: #d87102;}
</style>
</head>
</body>

<div class="container intro">
  <h1> I'm <strong>Josh Hoeg</strong>. </h1>
  <h2>I build websites, and study computer science. </h2>
  <h2>Let's meet up for coffee!</h2>
</div>

<div class="container center-block icons">
  <div class="col-xs-2">
    <a href="https://www.facebook.com/josh.hoeg"><img class="Social-icon" src="{% static 'Main\images\Social\facebook.png' %}" height="75px"></a>
  </div>
  <div class="col-xs-2">
    <a href="https://www.instagram.com/j_hoeg/?hl=en"><img class="Social-icon" src="{% static 'Main\images\Social\instagram.png' %}" height="75px"></a>
  </div>
  <div class="col-xs-2">
    <a href="https://www.linkedin.com/in/josh-d-hoeg"><img class="Social-icon" src="{% static 'Main\images\Social\linkedin.png' %}" height="75px"></a>
  </div>
  <div class="col-xs-2">
    <a href="https://soundcloud.com/josh-hoeg"><img class="Social-icon" src="{% static 'Main\images\Social\soundcloud.png' %}" height="75px"></a>
  </div>
  <div class="col-xs-2">
    <a href="https://twitter.com/JhoeHoeg"><img class="Social-icon" src="{% static 'Main\images\Social\twitter.png' %}" height="75px"></a>
  </div>
  <div class="col-xs-2">
    <a href="https://github.com/JoshDHoeg"><img class="Social-icon" src="{% static 'Main\images\Social\github.png' %}" height="75px"></a>
  </div>
</div>


<div class="work">
  <a href="https://after.live"><img class="afterlive-icon" src="{% static 'Main\images\afterlive.png' %}" height="50px"></a>
</div>

</body>
</html>
