body h1{
  color: #ffffff;
  font-size: 400%;
  font-family: 'Russo One', sans-serif;
}
body h2{
  color: #ffffff;
  font-size: 250%;
  font-family: 'Russo One', sans-serif;
}
body{
  background-image: url("http://cdn.oboi7.com/content/images/2b/04/2b0419dac75f7723e9ba28034a56438c041ddb8e.jpg");
  background-attachment: fixed;
  font-family: 'Russo One', sans-serif;
}
.Social-icon{
  height: 75px;
  width: 75px;
  opacity: 0.75;
}
.icons{
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}
.icon:hover .Social-icon{
  opacity: 1;
}

.intro{
  padding-top: 75px;
}
.intro h2{
  background: -webkit-linear-gradient(#f25d18, #872c01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-intro{
  font-size:64px;
}
.intro-name{
  font-size: 72px;
}
#LetsConnect{
  float: right;
}
.work{
  padding-top: 75px;
  text-align: center;
  padding-bottom: 50px;
}
